from django.apps import AppConfig


class {{ app.name_camel_case }}Config(AppConfig):
    default_auto_field = 'django.db.models.BigAutoField'
    name = 'apps.{{ app.name }}'
    verbose_name = '{{ app.verbose_name }}'
