<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DjangoStarter</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">DjangoStarter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Deali-Axy/DjangoStarter">GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://gitee.com/deali/DjangoStarter">Gitee</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Welcome to DjangoStarter</h1>
        <p class="mt-3">版本：2021.3.3</p>
        <p>License：<a href="http://www.apache.org/licenses/">Apache License Version 2.0, January 2004</a></p>
        <p class="lead">基于Django定制的快速Web开发模板，功能包括：Docker-Compose部署，缓存，业务代码生成器，接口限流，DjangoAdmin验证码，登录次数尝试，屏蔽了RestFramework默认的API主页等</p>
        <a class="btn btn-lg btn-primary" href="https://github.com/Deali-Axy/DjangoStarter" role="button">查看项目主页 (Github) &raquo;</a>
        <a class="btn btn-lg btn-danger" href="https://gitee.com/deali/DjangoStarter" role="button">查看项目主页 (码云) &raquo;</a>
    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/bootstrap/js/popper.min.js"></script>
</body>
</html>
