from django.contrib import admin

from .models import *

{% for model in app.models %}
@admin.register({{ model.name }})
class {{ model.name }}Admin(admin.ModelAdmin):
    list_display = [{% for field in model.fields %}'{{ field }}', {% endfor %}]

{% endfor %}
