# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
media/
static-dist/
db.sqlite3
log/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
docs/ 