{% extends '_base.html' %}
{% load i18n %}

{% block title %}{% trans "500 服务器错误" %}{% endblock %}

{% block content %}
<div class="hero min-h-[70vh] bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-9xl font-bold text-error">500</h1>
      <p class="text-2xl font-semibold mt-4">{% trans "服务器错误" %}</p>
      <p class="py-6 opacity-70">{% trans "抱歉，服务器出现了一些问题，请稍后再试。" %}</p>
      <a href="/" class="btn btn-primary">
          <i class="fa-solid fa-home"></i>
          {% trans "返回首页" %}
      </a>
    </div>
  </div>
</div>
{% endblock %}
