{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - DjangoStarter</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/tailwind.prod.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/all.min.css' %}">
</head>

<body>

<!-- Navbar -->
{% include '_components/navbar.html' %}
<!-- End of Navbar -->

<div class="container mx-auto p-4">
    {% block alert %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags != 'console' %}
                    {% include '_components/alert.html' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block content %}
    {% endblock content %}
</div>

{% include '_components/footer.html' %}

{% compress js %}
    <script src="{% static 'lib/flowbite/dist/flowbite.min.js' %}"></script>
    {% block script %}{% endblock %}
    {% block extra_js %}{% endblock %}
{% endcompress %}

</body>

</html>