from rest_framework import serializers
from .models import *

{% for model in models %}
class {{ model.name }}Serializer(serializers.ModelSerializer):
    class Meta:
        model = {{ model.name }}
        fields = '__all__'

{% endfor %}
