{% for section in menu_sections %}
    {% if section.heading %}
        <li class="menu-title mt-4 uppercase tracking-wider font-bold opacity-60 text-xs whitespace-nowrap overflow-hidden transition-all duration-300"
            :class="!isExpanded ? 'px-0 text-center' : ''">
            <span x-show="isExpanded">{{ section.heading }}</span>
            <span x-show="!isExpanded"><i class="fa-solid fa-ellipsis"></i></span>
        </li>
    {% endif %}

    {% for item in section.items %}
        <li>
            <a href="{{ item.url }}"
               class="flex-nowrap {% if item.is_active %}active{% endif %}"
               :class="!isExpanded ? 'justify-center px-0' : ''">
                <i class="{{ item.icon }} w-5 text-center"></i>
                <span x-show="isExpanded">{{ item.name }}</span>
            </a>
        </li>
    {% endfor %}
{% endfor %}
