{% if message %}
<div role="alert" class="alert {% if message.tags == 'error' %}alert-error{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} shadow-sm mb-4">
    {% if message.tags == 'error' %}
        <i class="fa-solid fa-circle-xmark text-lg"></i>
    {% elif message.tags == 'warning' %}
        <i class="fa-solid fa-triangle-exclamation text-lg"></i>
    {% elif message.tags == 'success' %}
        <i class="fa-solid fa-circle-check text-lg"></i>
    {% else %}
        <i class="fa-solid fa-circle-info text-lg"></i>
    {% endif %}
    
    <div>
        <h3 class="font-bold">
            {% if message.tags == 'error' %}Error
            {% elif message.tags == 'warning' %}Warning
            {% elif message.tags == 'success' %}Success
            {% else %}Info{% endif %}
        </h3>
        <div class="text-xs">{{ message|safe }}</div>
    </div>
    
    <button class="btn btn-sm btn-circle btn-ghost" onclick="this.parentElement.remove()">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>
{% endif %}
