<footer class="footer p-10 bg-base-200 text-base-content border-t border-base-300">
  <aside>
    <div class="w-12 h-12 rounded-xl bg-primary flex items-center justify-center text-primary-content text-2xl mb-2">
        <i class="fa-brands fa-python"></i>
    </div>
    <p class="font-bold text-lg">DjangoStarter Ltd.<br/><span class="font-normal text-sm opacity-70">Providing reliable tech since 2024</span></p>
  </aside> 
  <nav>
    <h6 class="footer-title opacity-60">Services</h6> 
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav> 
  <nav>
    <h6 class="footer-title opacity-60">Company</h6> 
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav> 
  <nav>
    <h6 class="footer-title opacity-60">Legal</h6> 
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>
