<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
    <nav class="grid grid-flow-col gap-4">
        <a class="link link-hover" href="{% url 'djs_about:index' %}">About us</a>
        <a class="link link-hover" href="{% url 'djs_about:index' %}">Contact</a>
        <a class="link link-hover" href="{% url 'djs_about:privacy_policy' %}">Privacy Policy</a>
        <a class="link link-hover" href="{% url 'djs_about:terms_of_service' %}">Terms of Service</a>
    </nav>
    <nav>
        <div class="grid grid-flow-col gap-4">
            <a href="https://github.com/deali-axy/djangostarter" target="_blank" class="link link-hover">
                <i class="fa-brands fa-github text-2xl"></i>
            </a>
            <a href="#" class="link link-hover">
                <i class="fa-brands fa-twitter text-2xl"></i>
            </a>
            <a href="#" class="link link-hover">
                <i class="fa-brands fa-youtube text-2xl"></i>
            </a>
            <a href="#" class="link link-hover">
                <i class="fa-brands fa-facebook text-2xl"></i>
            </a>
        </div>
    </nav>
    <aside>
        <p>Copyright © {% now "Y" %} - All right reserved by ACME Industries Ltd</p>
    </aside>
</footer>